# Visual Studio Ignores
[Bb]in/
obj/
App_Data/

*.sln.cache
*.suo
*.user
*.build.csdef
*.ncb
*.docstates

# Visual Studio 11+ Unit Test ignores
*.UTests.ldf
*.UTests.mdf

*.xap
!*StatLight.Client.For.*.xap

*.userprefs # Mono develop

# Visual Studio Extensions Ignores
.vs10x
*.vs10x

# Resharper Ignores
_ReSharper.*/
*.resharper.user

# StyleCop cache ignores
*StyleCop.Cache

# Ignore TypeMock TestLint Cache
lint.db

# vim Ignore
*.swp

# kdiff3 Ignore
*.orig

# LATEX Ignores
*.tex.undo

# Misc Ignores
Thumbs.db
!libs/*/[Bb]in/
working/
src/TestResults/
dist/